<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Opal</string>
	<key>ordering</key>
	<array>
	</array>
	<key>uuid</key>
	<string>A46E2068-F1AC-405B-8F48-37FF385F58D2</string>
</dict>
</plist>
